[Desktop Entry]
Version=1.0
Type=Application
Name=GitButler
Comment=A Git client for simultaneous branches on top of your existing workflow
Icon=com.gitbutler.gitbutler
Exec=gitbutler-app
Terminal=false
Categories=Development;
Keywords=git;